@model uyumsoft_ticaret_app.Models.Product
@using uyumsoft_ticaret_app.Models

@{
    ViewBag.Title = Model.ProductName + " - Uyum Ticaret";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

@section head{
    <script src="~/Content/admin/js/jquery-1.8.3.min.js"></script>
    <script>
        $(document).ready(function myfunction() {
            $(".AddToCart").click(function myfunction() {
                var uid = $(this).attr("name");

                $.ajax({
                    type: "GET",
                    url: "/Home/AddToCart",
                    data: { id: uid },
                    success: function myfunction() {
                        $.ajax({
                            type: "GET",
                            url: "/Home/MiniCartWidget",
                            success: function BringData(data) {
                                $(".cart-all").html('');
                                $(".cart-all").html(data);
                                alert("Ürün Sepete Eklendi!");

                            }
                        });
                    },
                    error: function myfunction() {
                        alert("HATA : Ürün Sepete Eklenemedi!!");
                    }
                });
            });

        });
    </script>

}
<div class="product-one">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="the-slider product-big-image" data-tesla-plugin="slider" data-tesla-item=".slide" data-tesla-next=".product-image-arrows-right" data-tesla-prev=".product-image-arrows-left" data-tesla-container=".slide-wrapper">
                    <ul class="product-image-arrows">
                        <li class="product-image-arrows-left"><i class="icon-517" title="left"></i></li>
                        <li class="product-image-arrows-right"><i class="icon-501" title="right"></i></li>
                    </ul>
                    <ul class="slide-wrapper">
                        @foreach (var item in Model.Pictures)
                        {
                            <li class="slide"><img src="@item.MiddleImg" alt="@Model.ProductName" /></li>

                        }
                    </ul>
                    <div class="row">
                        <ul class="the-bullets-dots" data-tesla-plugin="bullets">
                            @foreach (var item in Model.Pictures)
                            {
                                <li>
                                    <div class="col-md-2 col-xs-2">
                                        <img src="@item.MiddleImg" alt="@Model.ProductName" />
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2>@Model.ProductName</h2>

                @foreach (var item in ViewBag.Features)
                {
                    <div class="sort-dropdown">
                        <span>@item.Key <i class="icon-515" title="515"></i></span>
                        <ul>
                            @foreach (var val in item.Value)
                            {
                                <li><a href="#">@val.FeatureDetailName</a></li>

                            }

                        </ul>
                    </div>
                }


                <div class="clear"></div>
                <div class="quantity">
                    <input type="button" value="-" class="minus">
                    <input type="number" step="1" min="1" name="quantity" value="1" title="Qty" class="input-text qty text">
                    <input type="button" value="+" class="plus">
                    <span>@Model.Stock in stock</span>
                    <a href="/Home/SalesmanProfile/@Model.SalesmanID">
                        Satıcı : @Model.UserRecord.Username
                    </a>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-price">FİYAT : @Model.Price.ToString("C2")</div>
                    </div>
                    <div class="col-md-6">

                        <a name="@Model.id" class="button-2 AddToCart">Sepete Ekle</a>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#description" data-toggle="tab">Detay</a></li>
                    <li class=""><a href="#reviews" data-toggle="tab">Reviews</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="description">
                        <p>@Model.Detail</p>

                        <ul class="social-share">
                            <li><span>Paylaş</span></li>
                            <li><a href="#"><i class="icon-160" title="161"></i></a></li>
                            <li><a href="#"><i class="icon-138" title="161"></i></a></li>
                            <li><a href="#"><i class="icon-106" title="161"></i></a></li>
                            <li><a href="#"><i class="icon-169" title="161"></i></a></li>
                            <li><a href="#"><i class="icon-163" title="161"></i></a></li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="reviews">

                        <div class="product-review">
                            <div class="product-review-avatar">
                                <img src="/Content/ecommerce/images/elements/testimonial-avatar.jpg" alt="avatar" />
                            </div>
                            @foreach (var comment in Model.ProductReviews)
                            {
                                <div class="product-review-author">@comment.Rating </div>
                                <p>@comment.Review</p>
                            }

                        </div>


                        <a href="#" class="button-6" data-toggle="modal" data-target="#write-review">Yorum Yazın</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
